/*icon-tip  提示图标*/
/**/
.icon-tip:after {
  content: " ";
  width: 6px;
  height: 6px;
  position: absolute;
  left: 50%;
  transform: translateX(-5px);
  top: 23.5px;
  background-color: transparent;
  border: 38px solid transparent;
  border-radius: 2px;
  border-top-color: #fff;
  border-left-width: 2px;
  border-right-width: 2px;
}
.icon-tip:before {
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 67.5px;
  left: 50%;
  transform: translateX(-5px);
}
/*icon-error  失败、错误图标*/
.icon-error:after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  transform: rotate(45deg) translate(-50%, -50%);
}
.icon-error:before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 50px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  transform: rotate(45deg) translate(-50%, -50%);
}
/*icon-ok  成功、完成图标*/
.icon-ok:after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 8px;
  background-color: #fff;
  left: 45%;
  top: 48%;
  transform-origin: 0 0;
  transform: rotate(45deg) translate(-50%, 90%);
}
.icon-ok:before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 45px;
  background-color: #fff;
  left: 60%;
  top: 52%;
  transform-origin: 0 0;
  transform: rotate(45deg) translate(-50%, -50%);
}
/*icon-add  添加，增加图标*/
.icon-add:after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
}
.icon-add:before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 50px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
}
/*icon-del  删除，减去图标*/
.icon-del:after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
}
/*icon-circle-tip*/
.icon-circle-tip:after {
  content: " ";
  width: 6px;
  height: 6px;
  position: absolute;
  left: 50%;
  transform: translateX(-5px);
  top: 18.5px;
  background-color: transparent;
  border: 38px solid transparent;
  border-radius: 2px;
  border-top-color: red;
  border-left-width: 2px;
  border-right-width: 2px;
}
.icon-circle-tip:before {
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 62.5px;
  left: 50%;
  transform: translateX(-5px);
}
/*icon-circle-error */
.icon-circle-error:after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: red;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  transform: rotate(45deg) translate(-50%, -50%);
}
.icon-circle-error:before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 50px;
  background-color: red;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  transform: rotate(45deg) translate(-50%, -50%);
}
/*icon-circle-ok  成功、完成图标*/
.icon-circle-ok:after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 8px;
  background-color: red;
  left: 45%;
  top: 50%;
  transform-origin: 0 0;
  transform: rotate(45deg) translate(-50%, 90%);
}
.icon-circle-ok:before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 45px;
  background-color: red;
  left: 60%;
  top: 52%;
  transform-origin: 0 0;
  transform: rotate(45deg) translate(-50%, -50%);
}
/*icon-circle-add  添加，增加图标*/
.icon-circle-add:after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: red;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
}
.icon-circle-add:before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 50px;
  background-color: red;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
}
/*icon-del  删除，减去图标*/
.icon-circle-del:after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: red;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
}
.icon-circle-pre:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 20px), -50%);
  border: 30px solid transparent;
  border-right-color: red;
}
.icon-circle-pause:before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 40px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 10px), -50%);
}
.icon-circle-pause:after {
  content: " ";
  position: absolute;
  width: 8px;
  height: 40px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 10px), -50%);
}
.icon-circle-ani {
  animation: circleMove linear 2s infinite ;
}
.icon-circle-ani:before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 84px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
}
.icon-circle-ani:after {
  content: " ";
  position: absolute;
  width: 84px;
  height: 8px;
  background-color: red;
  top: 50%;
  left: 0;
  transform: translate(0, -50%) rotate(180deg);
}
@keyframes circleMove {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
.icon-circle-stop:after {
  content: " ";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-circle-next:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 20px), -50%);
  border: 30px solid transparent;
  border-left-color: red;
}
.icon-type-fill {
  background-color: red;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
}
.icon-type-circle {
  background-color: transparent;
  border-radius: 50%;
  border: 8px solid red;
  height: 100px;
  width: 100px;
  position: relative;
}
